body {
    font-family: helvetica, arial, sans-serif;
    background-color: #27be9d;
   }

   h1 {
    color: #0a4c05;
    text-align: center;
  }


#contenedor-izquierdo {
	background-color: rgb(69, 151, 21);
	width: 12%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	padding: 10px;
}

#contenedor-derecho {
	background-color: rgb(212, 107, 37);
	width: 12%;
	height: 100%;
	right: 0px;
	top: 0px;
	position: absolute;
	padding: 10px;
}

.contenedor-componente {
	position: relative;
	height: 10.5%;
	left: 20%;
}

.componente {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	z-index: 2;
}

.cielo {
	height: 80%;
	width: 60%;
	background: #0c42e495;
	border-radius: 1rem;
	position: absolute;
	bottom: 1%;
	left: 20%;
	opacity: 0.5;
	z-index: 1;
}

.suelo {
	width: 60%;
	height: 45%;
	background: #daed07ee;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 20%;
	opacity: 0.6;
	z-index: -1;
}